<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495272238968-kj02krdjpmsvbr0to0s8pi1uufhiqcfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495272238968-kj02krdjpmsvbr0to0s8pi1uufhiqcfp</string>
	<key>API_KEY</key>
	<string>AIzaSyAcJjtvpfoXAb9Jpb_IW4jPOxM5Fchl4Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>495272238968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mycommerce-9225f</string>
	<key>STORAGE_BUCKET</key>
	<string>mycommerce-9225f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495272238968:ios:b5399850a571352a7d728d</string>
</dict>
</plist>